/venv/
backend/restaurant/frontend/node_modules
frontend/frontend/node_modules
node_modules
/env
restaurant/__pycache__
_pycatch
/node_modules
/mainapp/__pycache__/
__pycache__/
*.py[cod]
*__pycache__*
mainapp/__pycache__/models.cpython-310.pyc
mainapp/__pycache__/serializers.cpython-310.pyc
mainapp/migrations/__pycache__/0013_remove_employee_isactive_dishcategory_colour_and_more.cpython-310.pyc
mainapp/migrations/__pycache__/0015_rename_colour_dishcategory_color.cpython-310.pyc
mainapp/migrations/__pycache__/0016_position_alter_employee_position.cpython-310.pyc
mainapp/migrations/__pycache__/0017_rename_color_dishcategory_colour.cpython-310.pyc
mainapp/urls/__pycache__/order_urls.cpython-310.pyc
mainapp/views/__pycache__/order_views.cpython-310.pyc
mainapp/views/__pycache__/rooms_views.cpython-310.pyc
